services: # template on how to run containers
  postgres: # service name used by other services in this file
    image: pgvector/pgvector:0.8.1-pg17 # Repo name : Tag with version
    container_name: mechlib-postgres
    env_file:
      - ../backend/.env  # Load environment variables
    environment:
      POSTGRES_USER: ${PSQL_USER}
      POSTGRES_PASSWORD: ${PSQL_PASSWORD} # From .env or shell
      POSTGRES_DB: ${PSQL_DATABASE}
      POSTGRES_HOST_AUTH_METHOD: md5  # Allow password auth from network (for pgbouncer)
#    ports:
#      - "127.0.0.1:5432:5432" # Only accessible from localhost.
#      # External apps should use pgbouncer (port 6432), not direct access
    volumes: # Mounts points for persistent data
      - mechlib_postgres_data:/var/lib/postgresql/data # Named Volume (defined below) : psql's data directory inside container
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql # File in my directory : Special dir psql check
    restart: unless-stopped # Restart automatically, UNLESS I manually stopped it
    shm_size: 256mb # Shared memory size. Default Docker 64MB (but too small)
    networks:
      - mechlib-network


  pgbouncer:
    image: edoburu/pgbouncer:latest  # Standard pgbouncer image
    container_name: mechlib-pgbouncer
    volumes:
      - ./pgbouncer.ini:/etc/pgbouncer/pgbouncer.ini:ro
      - ./userlist.txt:/etc/pgbouncer/userlist.txt:ro
    ports:
      - "0.0.0.0:6432:6432"
    depends_on:
      - postgres
    restart: unless-stopped
    networks:
      - mechlib-network

  api:
    build: ../backend
    container_name: mechlib-api
    env_file:
      - ../backend/.env  # Load main .env file
    ports:
      - "0.0.0.0:8000:8000"  # Expose API
    depends_on:
      - pgbouncer
    restart: unless-stopped
    networks:
      - mechlib-network # Same network
    volumes:
      - ../backend:/app  # For development (optional)
      - /app/.venv  # ← Anonymous volume, keeps .venv inside container only
      - ~/.aws:/root/.aws:ro # ← Mount AWS credentials (read-only)

volumes: # Mounts
  mechlib_postgres_data:
    name: mechlib_postgres_data  # Override auto-naming

networks: # Docker networks allow containers to communicate with each other.
  mechlib-network:
    driver: bridge # Creates the network


#   Your FastAPI App
#         │
#         │ Connects to localhost:6432
#         │ (100 possible client connections)
#         ▼
#     PgBouncer Container
#         │
#         │ Pools to 20 connections
#         │ transaction mode
#         ▼
#     PostgreSQL Container
#         │
#         │ + pgvector extension
#         │ Stores data in postgres_data volume
#         ▼
#     Persistent Storage
#     (survives container restarts)

#  100 clients waiting  →  pgbouncer queues them  →  20 connections to postgres
#                          (reuses connections)